<!-- Main Pane -->
<div class="main">
	<header class="intro row col-md-8 offset-md-2">
			<h6 class="font-roboto">
			Welcome to Hoop Helix, a data-driven platform that provides a unique perspective on basketball, focusing on team dynamics and player contributions. The current scope of the project is the 2025-26 NBA playoffs. 
			</h6>
	</header>
	<section class="col-md-12 team-index">
		<h4 class="team-index-title text-center">Team Index</h4>
		<div class="row row-cols-2 row-cols-lg-4 g-5 text-center">
			<% @teams.each do |team| %>
				<div class="col">
					<%= link_to team_path(team[:team_id]) do %>
						<img src="<%= team[:logo_url] %>" alt="<%= team[:team_name] %> logo" class="img-fluid mb-2" style="max-height: 80px;">
						<p class="mb-0 font-roboto"><%= team[:team_name] %></p>
					<% end %>
				</div>
			<% end %>
		</div>
	</section>
</div>
