<!-- NAVBAR -->	
<nav class="navbar navbar-expand-lg" style="background-color: orange;">
	<div class="container">
		<a class="navbar-brand font-dosis" href="/">Hoop Helix</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">
						Home
					</a>
        </li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Select a playoff team
					</a>
					<ul class="dropdown-menu" role="menu">
						<% @teams.each do |team| %>
							<%= link_to team_path(team[:team_id]), class: "dropdown-item" do %>
								<%= team[:team_name] %>
							<% end %>
						<% end %>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
