<div class="player-stat-row">

  <div class="stat-header">
    <h5 class="stat-title mb-3">
      <%= title %>
    </h5>
  </div>

  <div class="row gx-5 align-items-start">

    <div class="player-contribution-column col-lg-7">

      <%= render "player_contribution_bar",
          contribution: contribution,
          player_value: player[stat],
          team_value: team_totals[stat]
      %>

    </div>

    <div class="player-ranking-column col-lg-3 d-flex justify-content-end">

      <%= render "player_ranking",
          ranking: ranking
      %>

    </div>

  </div>

</div>