<%= render 'shared/player_header' %>

<!-- Main Content -->
<section>

	<% @stats_to_show.each do |stat| %>

		<%= render "player_stat_row",
				title: stat.to_s.upcase,
				stat: stat,
				player: @player,
				team_totals: @team_totals,
				contribution: @player_contributions[stat],
				ranking: @player_rankings[stat]
		%>

	<% end %>

</section>
