<%# removed shared player header for now %>
<!-- Main Pane -->
<div class="main">
	<div class="page-sub-nav">
	  <h4>Team Contribution: All Rounds<h4>  	
	</div>
	<div class="col-md-8 stat-main">
		<h1>Hi there</h1>
	</div>
</div>
	  