:root {
  --font-dosis: 'Dosis', sans-serif;
  --font-glegoo: 'Glegoo', serif;
  --font-roboto: 'Roboto', sans-serif;
}

.font-dosis {
  font-family: var(--font-dosis);
}
.font-glegoo {
  font-family: var(--font-glegoo);
}
.font-roboto {
  font-family: var(--font-roboto);
}

#loading {
    position: absolute;
    background-color: #fcfcfc;
    opacity: 0.8;
    padding: 20%;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: center;
    display: none;
}

#loading img {
  width: 100px;
}

#message {
text-align: center;
  position: absolute;
  padding: 40% 10%;
  color: black;
  z-index: 1000;
  width: 100%;
  display: none;
}

.main {
	margin-top: 0px;
}

h1, h2 {
  font-family: var(--font-dosis);
}

h3, h4, h5 {
  font-family: var(--font-glegoo);
}

body p, body a, body li, body td, body th {
  font-family: var(--font-roboto);
}

/*
Nav Styles
*/ 
.full-header {
	width: 100%;
}

.page-id-header {
	padding: 5px 20px;
	background-color: #E39D44;
  height:70px;
  border-radius: 0px;	
  margin-bottom: 0px;
  border: none;
}

a.navbar-brand {
  text-transform: uppercase;
  font-size: 24px;
}

.dropdown-menu .dropdown-item p {
  margin-bottom: 0px;
  padding: 0.2rem 0rem;
}

.dropdown-menu a.dropdown-item:hover {
  background-color: #ececec;
  border: none;
}

.navbar-brand-custom h1, .footer h1 {
  font-size: 30px;
  font-weight: 700;
  padding: 0px;
  text-transform: lowercase;
  line-height: 5px;
  color: #333;
}

.navbar-right-custom {
  padding-top: 5px;
}



.player-page-name {
  height: 45px;
  border-top: 3px solid #DF8936;
  background-color: #F9F9F9;
  padding: 1% 2%;
}

.player-page-name h4 {
  font-size: 19px;
  line-height: 5px;
  color: #777;
  padding: 0px;
  text-transform: uppercase;
}

.team-selector {
  padding: 9px 20px;
  background-color: #E39D44;
  height: 50px;
}

.teammate-selector {
  height: 45px;
  border-top: 3px solid #DF8936;
  background-color: #F9F9F9;
  padding: 3px 20px;
}

.player-well {
	margin: 0px;
}

.page-sub-nav {
  color: #777;
  padding: 3px 0px;
  height: 100%;
  padding: 1% 2%;
  margin-bottom: 10px;
}

.page-sub-nav h4 {
  font-size: 19px;
  color: #777;
  padding: 0px;
  text-transform: uppercase;
}
.player-page-profile h4 {
  font-size: 19px;
  color: #777;
  padding: 0px;
  text-transform: uppercase;
}

.page-sub-nav .fa {
  font-size: 16px;
  color: #777;
  padding: 0px 10px;
  text-transform: uppercase;
  float: left;
  line-height: 41px;
}

.fa {
  padding: 0px 8px 0px 3px;
}

.nav > li > a {
	padding: 3px 15px;
}

.player-profile-card {
  border-bottom: 1px solid #e8ebee96;
}

.player-profile-img {
  text-align: center;
  margin-top: 20px;
 }


.player-profile-info {
  margin-bottom: 20px;
	margin-top: 20px;
}

.player-profile-info p {
  font-size: 14px;
  font-weight: 400;
  color: #494242;
}

.playoff-round-selector {
  margin-top: 2rem;
}




.stat-main {
  margin-top: 10px;
}

.stat-logo {
  margin-top: 80px;
  color: #777;
}

.stat-logo h4 {
  margin-bottom: 20px;
}

.stat-name {
  margin-top: 60px;
  text-transform: uppercase;
  //color: #A6ADB1;
  color: #337AB7;
  text-align: right;
}

.stat-name-green p {
  margin-top: 13px;
color: rgb(130, 192, 130);
font-style: oblique;
font-size: 14px;
text-transform: lowercase;
}

.stat-name-purple {
  margin-top: 60px;
  text-transform: uppercase;
  color: purple;
  text-align: right;
}

.stat-name-green {
  margin-top: 60px;
  text-transform: uppercase;
  color: #5CB85C;
  text-align: right;
}

.stat-name-green a {
  margin-top: 60px;
  text-transform: uppercase;
  color: #5CB85C;
  text-align: right;
}

.stat-name-lt-blue {
  margin-top: 60px;
  text-transform: uppercase;
  color: #5BC0DE;
  text-align: right;
}

.stat-name-lt-blue a {
  margin-top: 60px;
  text-transform: uppercase;
  color: #5BC0DE;
  text-align: right;
}

.stat-name-orange, {
  margin-top: 60px;
  text-transform: uppercase;
  color: orange;
  text-align: right;
}

.stat-name-orange a {
  margin-top: 60px;
  text-transform: uppercase;
  color: orange;
  text-align: right;
}

.stat-name-red {
  margin-top: 60px;
  text-transform: uppercase;
  color: red;
  text-align: right;
}

.overview-bars-first {
  margin-top: 20px;
  padding-right: 20px;
}

.overview-bars {
  margin-top: 75px;
  padding-right: 20px;
}

.player-data {
  color: #337AB7; 
}

.player-data-purple {
  //color: #337AB7;
  color: purple;
}

.player-data-green {
	color: #5CB85C;
}

.player-data-lt-blue {
	color: #5BC0DE;
}

.player-data-orange {
	color: orange;
}

.player-data-dk-orange {
	color: #E18B11;
}

.player-data-red {
	color: red;
}

.player-data p, .player-data-purple p, .player-data-green p, .player-data-lt-blue p, .player-data-orange p, .player-data-dk-orange p {
   text-transform: uppercase; 
}

.team-data {
  color: #A0A5AD;
}

.team-data p {
  text-transform: uppercase;
}

.progress {
	height: 30px;
	margin-bottom: 15px;
}

.progress-bar {
	font-size: 14px;
	line-height: 30px;
	
}

.progress-bar-purple {
	font-size: 14px;
	line-height: 30px;
	background-color: purple;
}

.progress-bar-dk-orange {
	font-size: 14px;
	line-height: 30px;
	background-color: #E18B11;
}

.glyphicon-orange {
	color: orange;
	font-size: 20px;
}

.glyphicon-lt-blue {
	color: #5BC0DE;
	font-size: 20px;
}

.glyphicon-green {
	color: #5CB85C;
	font-size: 20px;
}

.f-top {
  background-color: orange;
  height: 30px;
  margin-top: 170px;
}

.footer {
  background-color: #eee;
  padding: 3% 4% 30%;
  border-top:10px solid #777;
  
}

.footer p {
  color: #565454;
}

.footer-copy p {
  font-size: 12px; 
  margin-top: 30px;
}

.footer-right {
  margin-top: 15px;
}

.alert-custom {
  padding: 10px 35px;
}

@media (max-width: 991px) {
  .player-page-profile {
    margin-bottom: 1rem;
  }
  .playoff-round-selector {
    margin-top: 1rem;
  }
}