// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team-index {
	margin-top: 35px;
	a {
		text-decoration: none;
	}
	a p {
		letter-spacing: .05rem;
	}
}

.team-index img {
	width: 150px;
}

.team-unit {
	margin-bottom: 65px;
	text-align: center;
}

.team-page-profile {
  padding: 0px 0px 0px 16%;
  overflow: hidden;
  height: 205px;
  margin-top: -24px;
}

.team-page-profile img {
  width: 200px;
  vertical-align: middle;
}

.team-main-stats {
	margin-top: 30px;
}

.team-stat-short {
	margin-top:30px;
}

.team-total {
	padding-left: 10px;
	font-weight: 300;
	color: #777;
}

.team-total h4 {
	color: #C0C3C6;
	font-size: 15px;
}

.arrow-toggle .glyphicon-menu-up,
.arrow-toggle.collapsed .glyphicon-menu-down {
    display: inline-block;
}
.arrow-toggle.collapsed .glyphicon-menu-up,
.arrow-toggle .glyphicon-menu-down {
    display: none;
}

.arrow-toggle .glyphicon-minus,
.arrow-toggle.collapsed .glyphicon-plus {
    display: inline-block;
}
.arrow-toggle.collapsed .glyphicon-minus,
.arrow-toggle .glyphicon-plus {
    display: none;
}

.team-toggle {
	background-color: #DDD;
}
.team-toggle .heading-custom {
	width: 30%;	
}

.team-toggle .glyphicon {
	float: right;
font-size: 10px;
top: 3px;
}

.team-toggle a {
	font-weight: 300;
	text-decoration: none; 
}
.team-players-all {
	margin-top: 59px;
}

.team-players-all .heading-custom {
    padding: 9px;
    margin: 0px;
    font-size: 12px;
    text-transform:uppercase;
    color: #777;
	border-top: 1px solid #eee;
	box-shadow: 0px -1px 5px #eee;
}

.team-players-all .table {
	border-bottom: 1px solid #ddd;
	box-shadow: 0px 1px 4px #eee;
}

.team-players-all .table td {
	padding-bottom: 0px;
	vertical-align: bottom;
}

.fa {
  padding: 0px 8px 0px 3px;
}

.single-pic {
	text-align:center;
}

.td .thumbnail {
	padding: 0px;
}
